.dropdown {
  display: none;
  position: absolute;
  background-color: $c-white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  animation: dropdown 300ms ease-in;

  &__link {
    padding: 15px 20px;
    width: max-content;
    color: $c-accent;
    font-family: $ff-main;
    font-size: 14px;
    font-weight: bold;
    transition: color 300ms;

    &:hover {
      color: $c-active;
    }
  }
}

@keyframes dropdown {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
