.searchForm {
  display: none;
  // justify-content: center;
  gap: 5px;
  // min-width: 50vw;
  padding: 0;
  background-color: $c-white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  animation: form 300ms;
  justify-content: space-between;

//   @include onDesktop {
  //   }
  
  @include onDesktop {
    justify-content: center; 
    width: max-content;
    // min-width: 15vw;
    // padding: 15px 10px;
  }

  &__input {
    padding: 24px;
    color: $c-grey;
    font-family: $ff-main;
    font-size: 18px;

    @include onDesktop {
      padding: 20px 10px;
      font-size: 12px;
    }
  }

  &__button {
    padding: 0 20px;
    color: $c-white;
    background-color: $c-white;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 300ms;

    &:hover {
      background-color: #104263;
    }
    
    @include onDesktop {
      padding: 0 10px;
      color: $c-grey;
      font-size: 14px;

      &:hover {
        background-color: $c-white;
      }
    }
  }
}

// .searchForm.visible {
//   display: flex;
//   justify-content: space-between;

//   @include onDesktop {
//     justify-content: center; 
//   }
// }

@keyframes form {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
