.searchForm {
  display: none;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  animation: form 300ms;
 
  min-width: 50vw;

  @include onDesktop {
    min-width: 15vw;
    padding: 15px 10px;
  }

  &__input {
    color: $c-grey;
    font-family: $ff-main;
    font-size: 18px;
    padding: 24px;

    @include onDesktop {
      font-size: 12px;
      padding: 0;
    }
  }

  &__button {
    padding: 0 20px;
    color: $c-white;
    background-color: $c-white;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 300ms;

    &:hover {
      background-color: #104263;
    }
    
    @include onDesktop {
      color: $c-grey;
      font-size: 14px;
      padding: 0;

      &:hover {
        background-color: $c-white;
      }
    }
  }
}

.searchForm.visible {
  display: flex;
  justify-content: space-between;

  @include onDesktop {
    justify-content: center; 
  }
}

@keyframes form {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
