.header {
  &__searchBtn {
    padding: 6px 20px 6px 12px;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 300ms;

    .fa-magnifying-glass {
      color: #fff;
    }

    &:hover {
      background-color: $c-active;
    }
  }
}
