.nav {
  display: none;
  justify-content: space-between;

  @include onDesktop {
    display: flex;
  }

  &__logo {
    display: block;

    &-img {
      object-fit: contain;
    }
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    position: relative;
  }

  &__link {
    padding: 15px 7px;
    color: $c-black;
    font-family: $ff-main;
    font-size: 14px;
    font-weight: bold;

    &-button {
      outline: none;
      border: none;
      background-color: transparent;
      padding: 0;
      margin-left: 2.8px;
      cursor: pointer;
    }
  }
}
