.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  background-color: $c-accent;
  
  @include onDesktop {
    justify-content: flex-end;

  }

  &__menuBtn {
    display: block;
    color: $c-white;
    padding: 16px 22px;
    font-size: 18px;

    @include onDesktop {
      display: none;
    }
  }

  &__logo {
    display: block;

    &-img {
      object-fit: contain;
    }

    @include onDesktop {
      display: none;
    }
  }

    &__list {
      align-items: center;
      display: none;
      
      @include onDesktop {
        display: flex;
      }
    }
  
    &__link {
      padding: 4px 12px;
      color: $c-white;
      font-size: 11px;
      font-family: $ff-main;
      font-weight: 300;
      transition: background-color 300ms;
  
  
      &-icon {
        padding: 4px 7px;
        font-size: 16px;
      }
  
      &:hover {
        background-color: $c-active;
      }
    }
  
  &__searchBtn {
    color: $c-white;
    padding: 16px 20px;
    font-size: 18px;
  
    @include onDesktop {
      padding: 5px 20px 6px 12px;
      transition: background-color 300ms;
      font-size: 14px;

      &:hover {
        background-color: $c-active;
      }
    }
  }
}
