.navTop {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 25px;
  background-color: $c-accent;

  &__list {
    display: flex;
    align-items: center;
  }

  &__link {
    padding: 4px 12px;
    color: $c-white;
    font-size: 11px;
    font-family: $ff-main;
    font-weight: 300;
    transition: background-color 300ms;


    &-icon {
      padding: 4px 7px;
      font-size: 16px;
    }

    &:hover {
      background-color: $c-active;
    }
  }

  &__searchBtn {
    padding: 6px 20px 6px 12px;
    transition: background-color 300ms;

    .fa-magnifying-glass {
      color: #fff;
    }

    &:hover {
      background-color: $c-active;
    }
  }

  // &__searchBlock {
  //   position: absolute;
  //   top: 29px;
  //   right: 0;
  //   padding: 14px 10px;
  //   box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

  //   .fa-magnifying-glass {
  //     position: absolute;
  //     right: 10px;
  //     top: 14px;
  //   }
  // }

  // &__searchInput {
  //   position: relative;
  //   outline: none;
  //   border: none;
  //   background-color: transparent;
  // }
}
