.page {

  &__home {
    height: 200vh;
    background-color: #edf3f9;;
  }

  &__search {
    position: relative;
  }

  &__searchForm {
    position: absolute;
    right: 0;
    display: flex;
  }
}